body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f8f4;
    color: #1b3a24;
}


.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}



/* HEADER */

.header {

    height: 70px;

    background: white;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 30px;

    border-bottom: 2px solid #d8ead8;

}



.header h1 {

    color: #1b7f3a;

    font-size: 30px;

    margin: 0;

}



.status {

    background: #e7f6e7;

    color: #1b7f3a;

    padding: 8px 18px;

    border-radius: 20px;

    font-weight: bold;

}





/* MAIN LAYOUT */


.main {

    flex: 1;

    display: flex;

    gap: 20px;

    padding: 20px;

}





.map-section {

    flex: 2;

    background:white;

    border-radius:15px;

    overflow:hidden;

    border:1px solid #d8ead8;

}





.side-panel {

    width:360px;

    overflow-y:auto;

}





/* CARDS */


.card {

    background:white;

    border-radius:15px;

    padding:20px;

    margin-bottom:15px;

    border:1px solid #d8ead8;

    box-shadow:0 5px 15px rgba(0,80,30,0.08);

}



.card h2 {

    color:#1b7f3a;

    margin-top:0;

}




/* INPUTS */


input,
select {


    padding:10px;

    border-radius:8px;

    border:1px solid #b7d8b7;

    background:#ffffff;

}





/* BUTTON */


button {


    width:100%;

    padding:12px;

    background:#1b7f3a;

    color:white;

    border:none;

    border-radius:10px;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    transition:0.2s;

}



button:hover {

    background:#145c2a;

}





/* MAP MARKER */


.incident-marker {

    background:none;

    border:none;

}

.mode-buttons {

    display:flex;

    flex-direction:column;

    gap:12px;

    margin-bottom:20px;

}


.mode-buttons button {

    width:100%;

}